/* ---------------------------------------- */
/* GENERAL
/* ---------------------------------------- */
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
::after,::before{display:block;}
h1,a,span,button{display:inline-block;}
h1,h2,h3,h4{font-weight:normal;}
a,button{text-decoration:none;border:none;background:none;cursor:pointer;}
input, textarea{-webkit-appearance:none;-webkit-border-radius:0;}
img{width:100%;height:auto;}
body{overflow-x:hidden;font-family:'KoPubDotum_ProMedium', sans-serif;}

/* ---------------------------------------- */
/* CONTENT
/* ---------------------------------------- */
.wrap{width:100%;font-size:10px;line-height:2.3em;}
.content{padding:0 1em;width:100%;}

/* 08_상품상세 */
.star_box.left{width:auto;}
.star_box li{float:left;margin-right:.6em;width:1.6824em;height:1.6em;display:inline-block;}
.star_box li a{width:100%;height:100%;background:url('../images/ic_star_n.png') no-repeat;background-size:100%;}
.star_box li.active a{background-image:url('../images/ic_star_a.png');}
.tb_con{display:table;width:100%;}
.cell{padding:0 .5em;position:relative;}
.left{display:table-cell;width:40%;text-align:left;vertical-align:top;}
.right{display:table-cell;text-align:right;vertical-align:top;}
.cell1{padding-top:1.35em;padding-bottom:1.35em;display:table;width:100%;}
.cell2{padding-top:1.85em;padding-bottom:1.85em;display:table;width:100%;}
.px1_2{padding-top:1.85em;padding-bottom:1.5em;}
.cell .right.won{font-size:1.6em;color:#999;}
.cell .right.won span{color:#000;font-weight:bold;margin-left:.25em;}
.fish_box{font-size:0;float:left;}
.fish_box li{width:14.28571428571429%;display:inline-block;}
.fish_box li img{width:100%;}
.dt{font-family:'BM_HANNA';font-size:1.8em;}
.text1{margin:1.2em 0 1.4em 0;color:#4d4d4d;font-size:1.5em;}
.service{padding-left:.5em;padding-right:0;}
.service .left.ic_cat{width:5em;background:url('../images/ic_cat.png') no-repeat;background-size:4em;}
.service .right.mal_tx{position:relative;text-align:left;font-size:1.25em;padding:.8em;color:#fff;background-color:#5C5C5C;border-radius:.8em;}
.service .right.mal_tx:after{position:absolute;content:"";width:0;top:1.3em;left:-.4em;bottom:auto;border-width:.25em .45em .25em 0;border-color:transparent #5C5C5C;border-style:solid;display:block;}
.service .right.mal_tx p{margin-top:1.5em;}
.service .right.mal_tx p:first-child{margin-top:0;}
.service .tb_con{margin-top:1.35em;}
.comment_list div.cell.writing{padding-top:1em;padding-bottom:1em;background-color:#FFE9B1;}
.comment_list .left{width:auto;vertical-align:middle;}
.comment_list ul.cell{padding:0;}
.comment_list ul.cell > li{border-bottom:2px solid #F2F2F2;padding:1.25em .75em 1.25em 1.5em;display:table;width:100%;}
.comment_list ul.cell > li:nth-child(even){background-color:#F5F5F5;}
.comment_list div.cell{padding:0 .75em 0 1.5em;}
.comment_list .left.name{font-size:1.4em;font-weight:bold;width:1.5em;  padding-right: .5em;}
.comment_list li .right.btn_box{display:none;}
.comment_list li.active .right.btn_box{display:table-cell;}
.comment_list li.active div div{padding-right:.4em;}
.comment_list li div div{color:#4d4d4d;font-size:1.35em;}
.comment_list li span.date{font-size:1em;color:#b3b3b3;}
.comment_box{vertical-align:middle;text-align:right;}
.comment_box p{display:inline-block;}
.comment_box p span{color:#969696;font-size:1.2em;margin:0 .5em;}
.comment_box p:last-child span{margin-right:0;}
.comment_box i.heart{width:1.3em;height:1.25em;margin-bottom:-.2em;display:inline-block;background:url('../images/ic_heart.png') no-repeat;background-size:100%;}
.comment_box i.commnet{width:1.3em;height:1.2em;margin-bottom:-.15em;display:inline-block;background:url('../images/ic_comment.png') no-repeat;background-size:100%;}

/* 13_2 결제하기, 13_3 인증요청 */
.text2{color:#828282;font-size:1.4em;}
.list_style2 .right.text2 p{margin-top:2.2em;}
.list_style2 .right.text2 p:first-child{margin-top:0;}
div.memo{width:100%;height:5.8em;padding:.8em;background-color:#e6e2de;border:none;color:#5a5856;font-size:1.4em;}
footer.copy{padding:1.5em 1em;margin:1em 0 49px;background-color:#666;color:#e6e6e6;font-size:1em;line-height:1.5em;}
.select_box{position:absolute;top:.7em;right:0;}
.btn_select{display:inline-block;min-width:8em;padding:.4em 2em .4em .6em;margin-bottom:0;font-family:'KoPubDotum_ProMedium';text-align:left;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer; -webkit-user-select:none; -moz-user-select:none;-ms-user-select:none;user-select:none;background:transparent url('../images/ic_select_down.png') right center no-repeat;background-size:30%;border:1px solid #c8c8c8;color:#666;}
.btn_select:active{background-color:#dedede;}
.select_box.open > .btn_select{background-image:url('../images/ic_select_up.png');}
.select_box.open > .select_menu{display:block;}
.select_menu{position:absolute;top:100%;right:0;margin-top:1px;z-index:1000;display:none;float:left;min-width:8em;text-align:left;vertical-align:middle;list-style:none;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #c8c8c8;border:1px solid rgba(0,0,0,.15); -webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);box-shadow:0 6px 12px rgba(0,0,0,.175);}
.sel_line{width:100%;height:0;border-top:1px solid #c8c8c8;}
.select_menu > li > a{ width:100%; padding:.4em .6em;clear:both;color:#333;white-space:nowrap;}
.select_menu > li > a:active{background-color:#dedede;}

/* 14_결제완료 */
.con_card{margin-top:1em;}
.con_card div{width:100%;height:15em;background-color:#f2f2f2;border-radius:.3em;-webkit-box-shadow:0 1px 0px rgba(230,230,230,1);box-shadow:0 1px 0 rgba(230,230,230,1);text-align:center;display:table-cell;vertical-align:middle;}
.con_card .ic_boy{width:5em;height:5em;}
.con_card .card_tx{clear:both;font-size:2em;font-family:'BM_HANNA';}
.con_card .card_tx.sum{color:#ed1c24;margin-top:.55em;}

/* 15_예약정보 M/V */
.map_wrap > div{margin-top:1em;}
.map_wrap > div:first-child{margin-top:0;}
.map_wrap > div > p{border:1px solid #c8c8c8;border-bottom:none;width:100%;overflow:hidden;}
.map_wrap > div > div{padding:1em;line-height:1.8em;background-color:#4d4d4d;}
.map_wrap > div > div > p{font-size:1.3em;color:#ccc;}
.map_wrap > div > div > p.title{font-weight:bold;color:#fff;}

/* 21_자주하는 질문 FAQ , 22_공지사항 */
body.list{background-color:#FAFAFA;}
.list_style .type2 li .list_title {font-size:1.6em;padding-right:3.6em;background:#FAFAFA url('../images/side_btn_down.png') center right no-repeat;background-size:2.5em;}
.list_style .type2 li .list_title.on{background-image:url('../images/side_btn_up.png');}
.list_title{position:relative;padding:1em;padding-top:1em;background-color:#FFF;color:#333;border-bottom:1px solid #DCDCDC;font-weight:bold;}
.list_title:after{content:"";clear:both;}
.list_style .list_content{display:none;clear:both;line-height:1.4em;font-size:1.4em;padding:1.2em;background-color:#e6e2de;color:#5a5856;border-bottom:1px solid #EDEDED;}

/* slider */
.visual_slider ul li:hover a:after{display:none;}
.bx-wrapper{position:relative;*zoom:1;}
/* LOADER */
.bx-wrapper .bx-loading{min-height:50px;background:url('../images/bx_loader.gif') center center no-repeat #fff;height:100%;width:100%;position:absolute;top:0;left:0;z-index:120;}
/* PAGER */
.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item{display:inline-block;*zoom:1;*display:inline;}
/* DIRECTION CONTROLS (NEXT / PREV) */ 
.bx-wrapper .bx-controls-direction a{position:absolute;top:50%;margin-top:-2.2em;outline:0;width:2em;height:4.4em;text-indent:-9999px;z-index:120;opacity:.8;}
.bx-wrapper .bx-prev{left:0;background:url('../images/btn_slider_prev.png') center no-repeat;background-size:cover;}
.bx-wrapper .bx-next{right:0;background:url('../images/btn_slider_next.png') center no-repeat;background-size:cover;}
.bx-wrapper .bx-prev:hover, .bx-wrapper .bx-next:active{opacity:1;}
.bx-controls .bx-controls-auto{display:none;}
.visual_slider .thum{width:100%;position:relative;height:0;overflow:hidden;padding-bottom:76.92307692307692%;}
.visual_slider.type2 .thum{padding-bottom:62.8%;}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{position:absolute;left:0;bottom:10px;width:100%;height:3em;text-align:center;z-index:99999;}
/* IMAGE CAPTIONS */
.bx-wrapper .bx-pager.bx-default-pager .bx-pager-item{margin-top:1.25em;}
.bx-wrapper .bx-pager.bx-default-pager a{background:#808080;text-indent:-9999px;width:.5em;height:.5em;margin:0 .5em;outline:0;-moz-border-radius:.5em;-webkit-border-radius:1em;;border-radius:1em;;opacity:.5;}
.bx-wrapper .bx-pager.bx-default-pager a:hover,.bx-wrapper .bx-pager.bx-default-pager a.active{background:#fff;opacity:1;}


/* ---------------------------------------- */
/* COMMON STYLE
/* ---------------------------------------- */
.thum{position:relative;width:100%;height:0;overflow:hidden;padding-bottom:20%;}
.thum img{position:absolute;top:0;left:0;max-width:100%;height:auto;}
.dott_line{border:none;padding:0;margin:0;width:100%;height:1px;background:url('../images/bg_dott_line.png') repeat-x;}
.btn_box{width:3em;vertical-align:middle;}
.btn_writing{width:100%;height:3em;background:url('../images/btn_writing_n.png') no-repeat;background-size:100%;}
.btn_writing:active{background-image:url('../images/btn_writing_p.png');}
.btn_bin{width:100%;height:3em;background:url('../images/btn_bin_n.png') no-repeat;background-size:100%;}
.btn_bin:active{background-image:url('../images/btn_bin_p.png');}
div.btn_bottom{position:fixed;z-index:9999;display:table;width:100%;left:0;bottom:0}
div.btn_bottom p{display:table-cell;width:auto;height:4.9em;background-color:#1a1a1a;}
div.btn_bottom p:last-child{width:50%;border-left:0px solid #4d4d4d;}
div.btn_bottom p button{width:100%;height:100%;font-size:2em;color:#ffc83c;font-family:'BM_HANNA';}
div.btn_bottom p:active{background-color:#333;}
div.btn_bottom p:active button{opacity:.5;}
i.new{position:relative;margin-left:.5em;margin-top:.2em;vertical-align:top;font-family:'BM_HANNA';font-size:.8em;font-style:normal;text-align:center;color:#fff;background-color:#ffc83c;width:1.64em;height:1.64em;line-height:1.74em;display:inline-block;border-radius:50%;}